In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

### Extract all csv into pd df

In [16]:
data_dir = "data"
all_files = [f for f in os.listdir(data_dir) if f.endswith('.csv')]
data_frames = {}
for file in all_files:
    df_name = os.path.splitext(file)[0]
    data_frames[df_name] = pd.read_csv(os.path.join(data_dir, file))
    print(f"Loaded {file} into DataFrame '{df_name}' with shape {data_frames[df_name].shape}")

Loaded ChampionTbl.csv into DataFrame 'ChampionTbl' with shape (172, 2)
Loaded ItemTbl.csv into DataFrame 'ItemTbl' with shape (635, 2)
Loaded MatchStatsTbl.csv into DataFrame 'MatchStatsTbl' with shape (78863, 31)
Loaded MatchTbl.csv into DataFrame 'MatchTbl' with shape (35421, 5)
Loaded RankTbl.csv into DataFrame 'RankTbl' with shape (11, 2)
Loaded SummonerMatchTbl.csv into DataFrame 'SummonerMatchTbl' with shape (78863, 4)
Loaded TeamMatchTbl.csv into DataFrame 'TeamMatchTbl' with shape (35045, 24)

In [20]:
# Function to get DataFrame by name from dictionary of dfs
def get_dataframe(data, name):
    df =  data.get(name)
    if df is not None:
        return df
    else:
        raise ValueError(f"DataFrame '{name}' not found.")

df_MatchTbl = get_dataframe(data_frames, 'MatchTbl') 
df_MatchTbl.head()

           MatchId           Patch QueueType  RankFk  GameDuration
0  EUW1_6681382047  13.22.541.9804   CLASSIC       0          1050
1  EUW1_6681412019  13.22.541.9804   CLASSIC       0           778
2  EUW1_6681445530  13.22.541.9804      ARAM       0           753
3  EUW1_6681464371  13.22.541.9804      ARAM       0           853
4  EUW1_6681718380  13.22.541.9804      ARAM       0          1226